### Strings and Character Data in Python

String are objects that contain sequences of character data. Processing character data is integral to programming. Python provides a rich set of operators, functions, and methods for working with strings. In this module, we'll discuss the below topics.

1. Using operators with strings
2. Accessing and extracting portions of strings
3. Use built-in Python functions with characters and strings
4. Use methods to manipulate and modify string data

#### String Manipulation
1. String Operators
2. Built-In String Functions
    * Case Conversion (upper, lower, title, capitalize)
    * Find and Replace (find, index) 
    * dir and __doc__
3. String Indexing & Slicing
    * name[1]

### Working with python list
List is Python’s most versatile, useful data types. You’ll find list in virtually every Python program. we'll cover the important characteristics of lists and we’ll learn how to define them and how to manipulate them.

1. Lists Overview
2. Indexing and Slicing
3. Nesting
4. List Methods
    * Inserting item to a given position
    * Appending value to a list
    * Removing elements from a list
    * Extending a list and merging with other list
    * Counting instances of an elements in a list
    * index - Finding index of something in the list
    * Sorting a list
    * Reversing a list
    
### Working with dictionary in python
We’ll cover the basic characteristics of Python dictionaries and learn how to access and manage dictionary data. O
1. Dictionaries and lists share the following characteristics:
    * Both are mutable.
    * Both are dynamic. They can grow and shrink as needed.
    * Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.

4. Dictionary Methods
    * Get all keys from a dictionary - keys
    * Get all values from a dictionary - values
    * To Access data from a dictionary for a key - get
    * Update a dictionary - update
    * Deleting data from the dictionary
    * Deleting all the key values from a dictionary - clear
    
### Conditional Statements in Python (if/elif/else)
We’ll learn how to work with conditional (“if”) statements in Python. if-statements help us implement complex decision making in your programs.

1. "if", "else" and "elif" Clauses
2. One-Line "if" Statements
3. Conditional Expressions
4. The "pass" Statement

In [114]:
name = "Naveen"

In [115]:
list1 = [1,2,3]

In [116]:
list1

[1, 2, 3]

In [89]:
list1.append(4)

In [91]:
list2 = [4,5,6]

In [92]:
list1.extend(list2)

In [93]:
list1

[1, 2, 3, 4, 4, 5, 6]

In [94]:
dict_1 = {"name": "Naveen", "city": "Delhi"}

In [95]:
type(dict_1)

dict

In [96]:
dir(dict_1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [97]:
dict_1.get("name")

'Naveen'

In [98]:
print(dict_1)

{'name': 'Naveen', 'city': 'Delhi'}

In [99]:
dict_1.update({"city": "Noida"})

In [100]:
print(dict_1)

{'name': 'Naveen', 'city': 'Noida'}

In [101]:
del dict_1['name']

In [102]:
print(dict_1)

{'city': 'Noida'}

In [ ]:
todo_list = [
    "complete python study", 
    "complete python test",
    "get the certificate"
]

In [106]:
todo_list = [
    {"task": "complete python study", "deadline": "2022-10-10"},
    {"task":"complete python test", "deadline": "2022-10-10"},
    {"task":"get the certificate", "deadline": "2022-10-10"}
]

In [107]:
print(todo_list)

[{'task': 'complete python study', 'deadline': '2022-10-10'}, {'task': 'complete python test', 'deadline': '2022-10-10'}, {'task': 'get the certificate', 'deadline': '2022-10-10'}]

In [108]:
user = {
    "name": "Naveen",
    "courses": ["python", "javascript"]
}

In [109]:
print(user)

{'name': 'Naveen', 'courses': ['python', 'javascript']}

In [110]:
user.keys()

dict_keys(['name', 'courses'])

In [111]:
user.values()

dict_values(['Naveen', ['python', 'javascript']])

In [112]:
def hello():
    """
    this function will print hello world
    """
    return "hello world"


function_list = [hello]

In [113]:
function_list

In [115]:
func_dict = {
    "function_name": "hello world",
    "function": hello
}

In [125]:
num1 = 10
num2 = 20

In [130]:
if num1 == num2:
    print("Same")
    print("something else")
else:
    print("Not same")

Not same

In [131]:
res = "Same" if num1 == num2 else "Not same"

In [129]:
print(res)

Not same

In [134]:
result = num1 >= num2

In [139]:
name = "naveen"

'Return a capitalized version of the string.\n\nMore specifically, make the first character have upper case and the rest lower\ncase.'

**Q: Create a variable name assign your name to that variable**
</br>
**Check what is the type of the variable and what are the public method available on that variable**
</br>
**Practice all the methods and write a brief summary on each of them in your words**

In [2]:
name = "simran"

In [142]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [64]:
"""
    To make the 1st char of the string in Upper case
"""
name.capitalize()

'Simran'

In [65]:
'''
    To make the string in lower case
'''
name.casefold()

'simran'

In [67]:
'''
    It's return a centered string
'''
name.center(30)

'            simran            '

In [70]:
'''
    it's return the number of times of specified value occurs in a string
'''
name.count("m")

1

In [71]:
'''
    this method is used for encodes the string
'''
name.encode()

b'simran'

In [4]:
'''
    it's check the string ends with the specified value or not then, it's Returns true or valse in o/p
'''
name.endswith("m")

False

In [5]:
'''
    it's returns the position of specified value where it was found in string.
'''
name.find("m")

2

In [6]:
'''
    Formats values in a string
'''
name.format_map("m")

'simran'

In [81]:
'''
     Searches the string for a specified value and returns the position of where it was found
'''
name.index("m")

2

In [82]:
'''
    Returns True if all characters in the string are alphanumeric
'''
name.isalnum()

False

In [85]:
'''
    Checks the String is Alphabetic.
'''
name.isalpha()

True

In [86]:
'''
   checks the string is Ascii 
'''
name.isascii()

True

In [87]:
'''
    checks the string is decimal
'''
name.isdecimal()

False

In [88]:
'''
    checks the string id digit
'''
name.isdigit()

False

In [89]:
# checks the string is identifier
name.isidentifier()

True

In [90]:
# checks the string is in lower case
name.islower()

True

In [91]:
# checks the string is numeric
name.isnumeric()

False

In [92]:
# checks the string is printable
name.isprintable()

True

In [93]:
# checks the string is whitespace
name.isspace()

False

In [94]:
# checks the string is title
name.istitle()

False

In [95]:
# checks the string is in upper case
name.isupper()

False

In [100]:
#Returns a left justified version of the string
name.ljust(123)

'simran                                                                                                                     '

In [101]:
#convert in lowercase 
name.lower()

'simran'

In [102]:
#it's returns a left trim of the string
name.lstrip()

'simran'

In [103]:
#convert in swapcase
name.swapcase()

'SIMRAN'

In [104]:
#convert in title
name.title()

'Simran'

In [105]:
#convert in upeercase
name.upper()

'SIMRAN'

In [108]:
#convert in translate string
name.translate("s")

'simran'

In [111]:
#split the string into a list
name.split()

['simran']

In [113]:
#replace the specified value
name.replace("a","@")

'simr@n'

**Q: Create a list "todo_list" and add some todo items in the list**
</br>
**Check what is the type of the variable and what are the public method available on that variable**
</br>
**Practice all the methods and write a brief summary on each of them in your words**

In [5]:
todo_list = [
    "python", 
    "variable",
    "string", 
    23,
    True
]

In [ ]:
#for append the value to list
todo_list.append("simran")

In [6]:
#to find the type of var
type(todo_list)

list

In [7]:
#to find the directry of var
dir(todo_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [15]:
#for clear the data of var
list1=[1, 2, 3, 4, 5]
list1.clear()

[]

In [20]:
#copy the list 
list1.copy()

['python',
 'variable',
 'string',
 23,
 True,
 'simran',
 'python',
 'variable',
 'string',
 23,
 True,
 'simran']

In [19]:
#for extend the list
list1.extend(todo_list)
print(list1)

['python', 'variable', 'string', 23, True, 'simran', 'python', 'variable', 'string', 23, True, 'simran']

In [22]:
#count the specified value in list
list1.count("variable")

2

In [24]:
#Searches a specified value and returns the position of where it was found
list1.index(23)

3

In [27]:
# insert the value at mentioned index
list1.insert(4, 20)
print(list1)

['python', 'variable', 'string', 23, 20, 20, True, 'simran', 'python', 'variable', 'string', 23, True, 'simran']

In [29]:
#pop the value at mentioned index
list1.pop(4)

20

In [31]:
#remove the specified value from the list
list1.remove("variable")

In [32]:
#reverse the list
list1.reverse()
print(list1)

['simran', True, 23, 'string', 'variable', 'python', 'simran', True, 20, 23, 'string', 'python']

In [35]:
#sort the list
list2=[1,2,3,24,20,4,5]
list2.sort()
print(list2)

[1, 2, 3, 4, 5, 20, 24]

**Q: Create a dictionary "user" and add name, city key value pair in the dictionary**
</br>
**Check what is the type of the variable  user and what are the public method available on that variable**
</br>
**Practice all the methods and write a brief summary on each of them in your words**

In [8]:
user={
    "simran":"aurangabad",
    "diksha":"bhilwara",
    "niru":"puri",
    "lopa":"katak",
    "deepak":"kota"
}

In [9]:
#find the type of var
type(user)

dict

In [38]:
#find the directry of var
dir(user)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [52]:
#Returns a dictionary with the specified keys and value
user.fromkeys("lopa")

{'l': None, 'o': None, 'p': None, 'a': None}

In [44]:
# returns the value of key
user.get("lopa")

'katak'

In [46]:
#Returns the value of the specified key
user.setdefault("lopa")

'katak'

In [53]:
#update the dict
user1={"kajal":"koderma"}
user.update(user1)

In [55]:
#print the all values of dict
user.values()

dict_values(['aurangabad', 'bhilwara', 'puri', 'katak', 'kota', 'koderma'])

In [56]:
#print the all items
user.items()

dict_items([('simran', 'aurangabad'), ('diksha', 'bhilwara'), ('niru', 'puri'), ('lopa', 'katak'), ('deepak', 'kota'), ('kajal', 'koderma')])

In [59]:
#pop the specified key and value
user.pop("deepak")

'kota'

In [60]:
#to make a copy
user.copy()

{'simran': 'aurangabad',
 'diksha': 'bhilwara',
 'niru': 'puri',
 'lopa': 'katak',
 'kajal': 'koderma'}

In [61]:
#print the all keys of dict
user.keys()

dict_keys(['simran', 'diksha', 'niru', 'lopa', 'kajal'])

In [62]:
#clear the all keys and values of dict
user.clear()